name: Kotlin CI with Gradle

on:
  push:
    branches:
      [main, CI, develop]
  pull_request:
    branches:
      [ main, develop]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: "oracle"
          java-version: 21

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Testing
        run: ./gradlew test -Djava.awt.headless=false

      - name: Run Test Coverage
        run: ./gradlew jacocoTestReport

      - name: Generate JaCoCo Badge
        uses: cicirello/jacoco-badge-generator@v2
        with:
          generate-branches-badge: true
          jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv